body{
  min-width: 360px !important;;
  overflow: scroll !important;;
  text-align: center !important;;
  background-color: f7f7f7 !important;;
  /* font-family: Garamond, serif  !important; */
  /* font-family: Lato,'Helvetica Neue', Arial,Helvetica,sans-serif !important; */
  font-family: Avenir !important;;
}
#tname {
   font: 30px/1.5 'Merienda One', Helvetica, sans-serif;
   color: black;
   text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
   margin: 0 0 0em !important;
  line-height: 2em !important;
}
div > ul > li{
  list-style-type: none !important;
  padding:0;
  margin:0;
}
ul{
  list-style-type: none !important;
  padding:0;
  margin:0;
}
li {
  display: inline;
}

img{
  border: .7px solid #5c636e !important;
  border-radius: 4px !important;
  margin: 5px;
  width: 100px;
  height: 60px;

}
h1{
  text-align: center;
}
h4{
  text-align: center;
}
#btn{
  background-color: f8b500 !important;
}
button{
  background-color: f8b500 !important;
}


/* body{
  min-width: 300px;
  overflow: scroll;
}
div > ul > li{
  list-style-type: none !important;
  padding:0;
  margin:0;
}
li {
  display: inline;
}
img{
  border: 1px solid #000;
  margin: 5px;
}
h1{
  text-align: center;
}
h3{
  text-align: center;
}
.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 6px 13px;
    background-color: #008CBA;
    border: none;
    color: white;
    border-radius: 9px;

} */
