[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.*"
django-cors-headers = "==2.2.*"
djangorestframework = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
markdown = "*"
pillow = "*"
dj-database-url = "*"
psycopg2-binary = "*"
boto3 = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.6"
